#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: auto;
  padding: 1;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 32px #020ccaaa);
}

.card {
  padding: 32px;
}

.contact-us {
  color: #888;
}

.input_information {
  color: red;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  background-color: white;
  z-index: 50;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 3px 25px; 
}

.navbar_logo {
  filter: drop-shadow(0 0 100px #01dd43aa);
  height: 50px;
  width: auto;
}

.navbar_element {
  display: inline-block;  
  padding: 10px; 
  background-color: #ffffff; 
  color: rgb(0, 0, 0); 
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.navbar_element:hover {
  background-color: #9b9d9e;
  transform: scale(1.1);
}
